structname: Mock{{.InterfaceName}}
pkgname: mocks
filename: '{{.InterfaceName | snakecase}}.go'
template: testify
template-data:
  unroll-variadic: true
packages:
  [[ module_path ]]/app/interfaces/repositories:
    config:
      dir: app/mocks/repositories
    interfaces:
      AuthTokenRepository: {}
      EmailVerificationRepository: {}
      PasswordResetRepository: {}
      UserRepository: {}
  [[ module_path ]]/app/interfaces/support:
    config:
      dir: app/mocks/support
    interfaces:
      EmailSender: {}
      TaskClient: {}
  [[ module_path ]]/app/interfaces/services:
    config:
      dir: app/mocks/services
    interfaces:
      EmailVerificationService: {}
      PasswordResetService: {}
      SessionService: {}
      UserService: {}
